.background-image-setting {
  @import './range.scss';
  @import '../../assets/style/tooltip.scss';

  display: flex;
  flex-grow: 1;
  margin-bottom: 5px;

  button {
    border: 1px solid #c0c0c0;
    padding: 0;
    background: transparent;
    width: 24px;
    height: 24px;
  }

  div {
    display: flex;
    margin-right: 10px;

    &.imgae-opacity {
      padding-top: 4px;
    }
  }

  input[type="file"] {
    display: none;
  }

  input[type="number"] {
    width: 50px;
    height: 15px;
  }
}
