@import '../../assets/style/layer.scss';

#canvas-block {
  flex-grow: 1;
  display: flex;
  background: black;

  .ansi-canvas {
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-direction: column;

    &:not(.focus) {
      display: none;
    }

    .canvas-frame {
      flex-grow: 1;
      overflow: auto;
      max-width: calc(100vw - #{$tool-bar-width + $scrollbar-width});
      max-height: calc(100vh - #{$file-status-height + $file-bar-height});

      .canvas-shield {
        max-width: 100%;
        max-height: 100%;
      }

      .current-canvas {
        position: relative;

        @import './sensor.scss';
        @import './background-image.scss';
        @import './canvas.scss';
      }
    }

    @import './status.scss';
  }
}
