.symbol {
  @import '../../assets/style/tooltip.scss';

  overflow: auto;

  .hide {
    display: none;
  }

  p {
    margin: 10px 0 10px 0;

    img {
      cursor: pointer;
      width: 15px;
      height: 15px;
    }
  }

  div {
    @import '../../assets/style/symbol-button.scss';

    &.symbol-group {
      overflow: hidden;
    }
  }
}
