// environment
$scrollbar-width: 20px;

// frame structure
$tool-bar-width: 100px;
$file-bar-height: 30px;
$file-status-height: 60px;
$displayer-margin: 40px;
$operation-height: 30px;

// z-index setting
$tooltip-layer: 200;
$popup-layer: 100;
$status-layer: 60;
$touch-layer: 50;
$pointer-layer: 40;
$backgourndimage-layer: 30;
